<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id = "moocAspect" class="aop.schema.advice.MoocAspect"></bean>

    <bean id = "aspectBiz" class="aop.schema.advice.biz.AspectBiz"></bean>

    <aop:config>
        <aop:aspect id = "moocAspectAOP" ref = "moocAspect">
   <!--匹配以某一个（Biz）单词结尾的类：* aop.schema.advice.biz.*Biz.*(..))--><!--匹配这个类的所有方法-->
            <!--<aop:pointcut id="moocPiontcut" expression="execution(* aop.schema.advice.biz.AspectBiz.*(..))" />
            <aop:before method="before" pointcut-ref="moocPiontcut"/>
            <aop:after-returning method="afterReturning" pointcut-ref="moocPiontcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="moocPiontcut"/>
            <aop:after method="after" pointcut-ref="moocPiontcut"/>
            <aop:around method="around" pointcut-ref="moocPiontcut"/>
            <aop:around method="aroundInit" pointcut="execution(* aop.schema.advice.biz.AspectBiz.init(String,int)) and args(bizName,times)"/>
-->
            <!--为匹配到的类型types-matching强制指定了一个父类default-impl-->
            <aop:declare-parents types-matching="aop.schema.advice.biz.*(+)"
                                 implement-interface="aop.schema.advice.Fit"
                                 default-impl="aop.schema.advice.FitImpl"/>
        </aop:aspect>
    </aop:config>

</beans>