<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id = "moocBeforeAdvice" class="aop.api.MoocBeforeAdvice"></bean>
    <bean id = "moocAfterReturningAdvice" class="aop.api.MoocAfterReturningAdvice"></bean>
    <bean id = "moocMethodInterceptor" class="aop.api.MoocMethodInterceptor"></bean>
    <bean id = "moocThrowsAdvice" class="aop.api.MoocThrowsAdvice"></bean>
    <!--6.1 Spring AOP API的Pointcut、advice概念及应用 Pointcut-->
    <!--如果使用匿名内部bean，把这行注释掉，然后在bizLogicImpl里面加上它
    <bean id = "bizLogicImplTarget" class="aop.api.BizLogicImpl"></bean>-->

    <bean id="pointcutBean" class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedNames">
            <list>
                <value>sa*</value>
            </list>
        </property>
    </bean>


    <bean id="defaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="moocBeforeAdvice"/>
        <property name="pointcut" ref="pointcutBean"/>
    </bean>

    <!--<bean id="bizLogicImpl" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            &lt;!&ndash;<ref bean="bizLogicImplTarget"/> 为了使用匿名内部bean,注释掉ref，加入value&ndash;&gt;
            <value>aop.api.BizLogicImpl</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>defaultAdvisor</value>
                <value>moocAfterReturningAdvice</value>
                <value>moocMethodInterceptor</value>
                <value>moocThrowsAdvice</value>
                &lt;!&ndash;使用global advisors,通配符是只有实现了MethidInterceptor接口的类才能使用，所以只有个实现了拦截器
                方法的类才能使用通配符的形式
                <value>mooc*</value>&ndash;&gt;
            </list>
        </property>
    </bean>-->


    <!--使用父子bean-->
    <bean id="baseProxyBean" class="org.springframework.aop.framework.ProxyFactoryBean"
          lazy-init="true" abstract="true"></bean>

    <bean id="bizLogicImpl" parent="baseProxyBean">
        <property name="target">
            <bean class="aop.api.BizLogicImpl"></bean>
        </property>
        <property name="proxyInterfaces">
            <value>aop.api.BizLogic</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>defaultAdvisor</value>
                <value>moocAfterReturningAdvice</value>
                <value>moocMethodInterceptor</value>
                <value>moocThrowsAdvice</value>
            </list>
        </property>
    </bean>

</beans>